# Database Connection URL (PostgreSQL)
DATABASE_URL="postgresql://postgres:your_password@localhost:5432/limited_stock_drop?schema=public"

# Redis Cloud
REDIS_URL="redis://default:your_password@your-host.db.redis.io:17329"

# Server Port
PORT=3001

# JWT
JWT_SECRET="change-me-in-production"
JWT_EXPIRES_IN="1d"
